body{
  background: #0e1035;
  font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #fafafa;
}
h2{
  font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #c8cbe7;
    border-bottom: 1px solid #e8d286;
      padding: 4px 4px 8px;
      width: 283px;
      height: 31px;
      margin-bottom: 64px;
}
h3{
  font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    color: #c8cbe7;
    margin-bottom: 48px;
}