.footer{
  background: #171c49;
  border-top: 1px solid #636db8;
}
.footer-container {
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.footer-navigation {
  display: flex;
  justify-content: center;
  gap: 64px;
  font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fafafa;
}

@media only screen and (min-width: 1440px) {
  .footer-container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
.footer-navigation{
  gap: 88px;
  justify-content: end;
}
}