.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 860px;
}
.home-wrapper{
    width: 343px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
}
.home-title{
    font-family: "Fredoka", sans-serif;
        font-weight: 600;
        font-size: 56px;
        line-height: 1.3;
        text-transform: uppercase;
        text-align: center;
        background: linear-gradient(180deg, #fafafa 0%, #fabc13 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.home-text{
    font-family: "Fredoka", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.5;
        text-align: center;
        color: #fafafa;
}
@media only screen and (min-width: 1440px) {
 .home-section{
    background-image: url("/img/home/desk.png");
height: 826px;
}
.home-wrapper{
width: 580px;
margin-top: 100px;
    margin-left: auto;
    margin-right: 0;
    align-items: start;
}
.home-title{
font-size: 72px;
line-height: 1.5;
font-weight: 700;
text-align: left;
}
.home-text{
font-size: 32px;
text-align: left;
}   
}
/* About the Game */
.title-container{
    display: flex;
    align-items: center;
    gap: 12px;
        margin-bottom: 64px;
}
.about-text{
    width: 323px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 1440px) {
 .title-container{
        margin-bottom: 80px;
}
.about-text{
    width: 732px;
}   
}
/* How To Play */
.how-swiper .swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
        padding: 24px;
        width: 280px;
        height: 458px;
        box-shadow: 0 0 4px 1px rgba(99, 109, 184, 0.7);
            background: #171c49;

}
.how-swiper .swiper-wrapper{
    padding: 2px;
}
.how-slide-title{
    margin-top: 30px;
    font-weight: 500;
}
.how-slide-text{
    margin-top: 8px;
    font-weight: 300;
        font-size: 12px;
    color: #c8cbe7;
}
@media only screen and (min-width: 1440px) {
 .how-swiper .swiper-slide{
width: 210px;
    height: 368px;
        box-shadow: 0 0 4px 1px rgba(99, 109, 184, 0.7);
            background: #171c49;

}
.how-swiper .swiper-wrapper{
    gap: 32px;
    justify-content: center;
}
.how-slide-title{
    margin-top: 30px;
    font-weight: 500;
}
.how-slide-text{
    margin-top: 8px;
    font-weight: 300;
        font-size: 12px;
    color: #c8cbe7;
}   
}